* {
    margin: 0px;
    padding: 0px;
    background-color: #9747FF;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    color: #FF5F2E;
    font-weight: 600;
    background-color: transparent;
    margin: 20px 10px;
}

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 26px; }

p, a, li, ul {
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    margin: 10px;
}

strong {
    background-color: transparent;
}

a { 
    color: white;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
a:hover { 
    color: #FF5F2E;
    transform: 0.3s;
    text-decoration: underline;
}

.a-dark {
    color: black;
    text-decoration: underline;
}

.section {
    background-color: white;
    padding: 25px;
    margin: 20px 5%;
    border-radius: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-image {
    width: 25%;
    height: auto;
}

.hamburger {
    display: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin: 25px;
}

footer {
    display: flex;
}

.footer-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.footer-container * {
    color: white;
    margin: 5px;
    padding: 0px;
}

.btn-app-store {
    background-color: black;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

svg {
    background-color: transparent;
}


@media (max-width: 800px) { 
    #menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #333;
        position: absolute;
        top: 80px;
        width: 100%;
        padding: 10px;
        margin: 0px;
        border-radius: 8px;
    }

    #menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    footer {
        flex-direction: column-reverse;
    }
}


/* 


header {
    background-color: #9747FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-image {
    width: 50%;
    max-width: 200px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

.header-image:hover {
    transform: scale(1.1)
}

nav {
    display: flex;
    gap: 20px;
    margin: 0px 20px;
}

a { 
color: white;
font-weight: 700;
font-size: 20px;
text-decoration: none;
}

a:hover {
color: #FF5F2E;
text-decoration: underline;
}

.hamburger {
display: none;
color: white;
font-size: 40px;
cursor: pointer;
margin: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
  }

  .footer-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container > h3 {
        color: white;
        font-size: 35px;
        padding: 10px;
  }

  .section {
    border-radius: 25px;
    margin: 5%;
    padding: 30px;
    background-color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #9747FF;
}




  @media (max-width: 800px) {

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #333;
        position: absolute;
        top: 80px;
        width: 100%;
        padding: 10px;
        margin: 0px;
        border-radius: 8px;
    }

    #menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    p {
        font-size: 16px;
    }

}

*/
